<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="boxNav">
                <div class="itemNav1">
                    <ul>
                        <li><a href="Accueil.html">Accueil</a></li>
                        <li><a href="Service.html">Nos services</a></li>
                        <li><a href="Contact.html">Nous contacter</a></li>
                    </ul>
                </div>
                <div class="itemNav2">
                    <h2>SEN-ECOLE</h2>
                </div>
            </div>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>&COPY; 2025 BY MAJIT. Tous droits réservés</p>
    </footer>
</body>
</html>

